Body{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.AdminInfoSection{

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.grid-container p {
    font-weight: 550;
}

.ShopStatistics, .testBlock, .findUserBlock, .findAuthorBlock, .findPublisherBlock{
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 150px;

    border: 2px solid #242729;
    border-radius: 10px;
    
    justify-content: center;
}
.ShopStatistics {
    grid-area: 1 / 1 / 2 / 2; 
}
.testBlock { 
    grid-area: 1 / 2 / 2 / 3;
}
.findUserBlock { 
    grid-area: 2 / 1 / 3 / 2; 
}
.findAuthorBlock { 
    grid-area: 2 / 2 / 3 / 3; 
}
.findPublisherBlock { 
    grid-area: 2 / 3 / 3 / 4; 
}
.searchResultContainer{
    width: 260px;
    height: auto;
    max-height: 200px;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
    position: relative;
    
    background-color: white;
    border: 2px solid #242729;
    border-radius: 10px;
}
.searchResult{
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}
.userSlide{
    padding: 10px;
    display: flex;
}
.search {
    display: inline-block;
    position: relative;
}
  
.search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.search button[type="submit"] {
    background-color: #242729;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}
  
.search button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}
  
.userBooks{
    width: 100%;
    margin: 20px auto;
    border-top: 2px solid black;
    
    position: relative;
    overflow: hidden;
}
.booksGrid{
    margin: 20px auto;
    
    display: flex;
    transition: transform 0.5s ease;
    flex-direction: row;
}

/*
    book
*/
.book{
    flex: 0 0 auto;

    width: 180px;
    height: 300px;
    padding: 20px;
    border-radius: 5px;

    border: 2px solid #ecefff; 
    padding: 20px; 
    margin: 10px; 
}
.bookTitle{
    font-size: 19px;
}
.bookPublisher{
    font-size: 14px;
}
.photoContainer{
    width: 150px;
    height: 200px;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bookPhoto{
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}
.bookButton{
    margin-right: 5px;
    padding: 0px 3px;
    font-size: 15px;
}
.book:hover{
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
/*
    review
*/
.userReview{
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-top: 2px solid black;
}
.ReviewGrid{
    margin: 20px auto;

    display: flex;
    transition: transform 0.5s ease;
    flex-direction: row;
}
            
.Review{
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    padding: 15px; 
    margin: 10px; 

    border-radius: 5px;
    border: 2px solid #ecefff; 
}
.Review:hover{
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
.headerContainer{
    justify-content: center;
    font-size: large;
}
.userName{
    text-align: left;
    margin-left: 15px;
}
.ReviewRating{
    float: right;
    margin-right: 15px;
}
.textContainer{
    padding: 10px;
}
.ReviewText{
    
}
.linkToBook{

}
