Body{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    
}
nav {
    position: relative;
    background-color: #242729;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav li:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    min-width: 120px;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: inherit;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.AdminInfoSection{

}
table{
    width: 1000px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
canvas{
    background-color: #242729;
    border-radius: 10px;
}
.navBar{
    padding: 15px 20px;
    background-color: #242729;
    display: flex;
    border-radius: 10px;
}
#adminPanel{
    width: 900px;
    height: 800px; 
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    display: none;

    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.userBooks{
    width: 100%;
    margin: 20px auto;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#booksGrid{
    margin: 20px auto;

    display: flex;
    grid-template-rows: 1fr; 
    grid-auto-flow: column; 
}

.book{
    width: 180px;
    height: 300px;
    padding: 20px;
    border-radius: 5px;

    border: 2px solid #ecefff; 
    padding: 20px; 
    margin: 10px; 
}


.bookTitle{
    font-size: 19px;
}
.bookPublisher{
    font-size: 14px;
}
.photoContainer{
    width: 150px;
    height: 200px;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bookPhoto{
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}
.priceInfo{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 7px;
}
.bookButton{
    margin-right: 5px;
    padding: 0px 3px;
    font-size: 15px;
}
.book:hover{
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
/*

*/
.closePanelButton{
    position: absolute; 
    top: 0; 
    right: 0; 
    margin-top: 15px;
    margin-right: 20px;
}
.shoppingCartButton{
    margin-top: 15px;
    margin-right: 20px; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1;
}
.openAdminPanelButton{
    padding-left: 15px;
    padding-right: 15px;
    
}

.blur-filter > *:not(#adminPanel) {
    filter: blur(2px);
}









