.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.book-filter-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bookContainer {
    width: 1380px;
    height: 1000px;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 9px 20px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0 9px 20px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0 9px 20px -4px rgba(0, 0, 0, 0.61);
}

.filterSection {
    width: 400px;
    height: 410px;
    border-radius: 10px;
    padding: 15px;
    margin: 0 10px;

    -webkit-box-shadow: 0px 9px 20px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 9px 20px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 9px 20px -4px rgba(0, 0, 0, 0.61);
}

.min-max-slider {position: relative; width: 200px; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 1.7em; font-weight: bold; display: inline-block;}
span.value.lower::before {content: "$"; display: inline-block;}
span.value.upper::before {content: "- $"; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
    -webkit-appearance: none;
    outline: none!important;
    background: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #eee;
    cursor: pointer;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 100%;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}


.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.book {
    flex: 0 0 auto;

    width: 250px;
    height: 500px;
    border-radius: 5px;

    border: 2px solid #ecefff;
    padding: 10px;
    margin: 20px;
}
.bookTitle{
    font-weight: bold;
    word-wrap: break-word;
}
.bookPublisher{

}
.bookPhoto{
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}
.photoContainer{
    width: 200px;
    height: 300px;

    /*margin-left: auto;
    margin-right: auto;*/

    display: flex;
    justify-content: center;
    align-items: center;
}
.priceInfo{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 7px;
}
.bookButton{
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 16px;
}
.book:hover{
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);

    border: 2px solid #ecefff;
}