<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/BookCategories.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
    <title>Book categories</title>
</head>
<body>

<div th:insert="~{layout :: headerFragment}"></div>
<div th:insert="~{layout :: navFragment}"></div>

<div class="mainContainer">
    <div class="vertical-container">
        <div class="book-filter-container">
            <form th:action="@{/filteredBooks}" method="get" class="filterSection">
                <h2>filter</h2>

                <div class="search">
                    <input type="text" class="searchTerm" name="searchTerm" placeholder="What are you looking for?">
                </div><br>

                <h3>price</h3>
                <section class="range-slider rangeContainer">
                    <span class="output outputOne"></span>
                    <span class="output outputTwo"></span>
                    <span class="full-range"></span>
                    <span class="incl-range"></span>
                    <input name="inputMinPrice" th:min="${minPrice}" th:max="${maxPrice}" th:value="${minPrice}" min="0" max="100" step="1" type="range">
                    <input name="inputMaxPrice" th:min="${minPrice}" th:max="${maxPrice}" th:value="${maxPrice}" min="0" max="100" step="1" type="range">
                </section>

                <h3>genre</h3>
                <div class="checkboxSlider">
                    <div class="checkboxContainer">
                        <div class="checkbox" th:each="categories : ${categories}">
                            <input type="checkbox" th:id="${categories}" name="genres" th:value="${categories}">
                            <label for="${categories}" th:text="${categories}"></label>
                        </div>
                    </div>
                </div>

                <div style="text-align: center;padding: 10px">
                    <button type="submit" class="button-default" onclick="validateForm()">show result</button>
                    <button type="reset" class="button-default">clear filter</button>
                </div>
            </form>
            <div class="bookContainer">
                <div class="booksGrid">
                    <div class="book" th:each="book : ${books}">
                        <h2 class="bookTitle" th:text="${book.title}">Java in action</h2>
                        <h4 class="bookPublisher" th:text="${book.publisher.publisherName}">wbox</h4>

                        <div class="photoContainer">
                            <img th:src="@{${book.photoURL}}" class="bookPhoto">
                        </div>


                        <div class="priceInfo">
                            <span th:text="${book.price}">10</span>
                            <span>usd</span>
                        </div>
                        <div style="text-align: center;">
                            <button>add to cart</button>
                            <a th:href="@{/home/book/{id}(id=${book.id})}">
                                <button>view book</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:insert="~{layout :: footerFragment}"></div>
<script th:src="@{/script/CategoriesBook.js}"></script>
</body>
</html>