<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/Book.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
    <title>Add Book</title>
</head>
<body>
<div th:insert="~{layout :: headerFragment}"></div>
<div th:insert="~{layout :: navFragment}"></div>
<div class="success-message" th:if="${param.successAdded}">
    <p>the book was added to your cart successfully</p>
</div>
<div class="failed-message" th:if="${param.failed}">
    <p>To get started, you need to register or log in to your account</p>
</div>

<div class="container">
    <div class="vertical-container">
        <div class="bookInfoSection">
            <div style="margin: 5px; text-align: left" >
                <a th:if="${userData.hasRole('ADMIN')}" th:href="@{/home/book/{bookId}/edit(bookId=${book.id})}"><button class="button-default">Edit</button></a>
            </div>
            <div class="vertical-container">
                <div class="booksImageBlock">
                    <div class="booksImage">
                        <img src="../static/SourceImg/71qoANDJu+L._AC_UF1000,1000_QL80_.jpg">
                    </div>

                </div>
                <div class="bookInfoBlock">
                    <form>
                        <table class="localTable">
                            <tr>
                                <td>Title: </td>
                                <td><label th:text="${book.title}">title</label></td>
                            </tr>
                            <tr>
                                <td>ISNB: </td>
                                <td><label th:text="${book.isbn}">isnb</label></td>
                            </tr>

                            <tr><td><br></td></tr>

                            <tr>
                                <td>Age group: </td>
                                <td><label th:text="${book.ageGroup}">age group</label></td>
                            </tr>
                            <tr>
                                <td>Number of pages: </td>
                                <td><label th:text="${book.numberOfPages}">number of page</label></td>
                            </tr>
                            <tr>
                                <td>Publication Date:</td>
                                <td><label th:text="${book.getStringPublicationDate()}"></label></td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td><label th:text="${book.language}"></label></td>
                            </tr>
                            <tr>
                                <td>Genre</td>
                                <td><label th:text="${book.genre}"></label></td>
                            </tr>

                            <tr><td><br></td></tr>

                            <tr class="underline">
                                <td>Publisher</td>
                                <td><label th:text="${book.publisher.getPublisherName()}"></label></td>
                            </tr>
                            <tr>
                                <td>Authors</td>
                                <td>
                                    <label th:each="authors : ${book.authors}" th:text="${authors.firstName} + ' ' + ${authors.lastName}"></label>
                                </td>
                            </tr>
                        </table>
                    </form>

                </div>

            </div>

            <div class="bottomSection">
                <div class="bookDescriptionBlock">
                    <div style="padding: 15px;">
                        <h3>Description</h3>
                        <p th:text="${book.descriptionParagraph1}"></p>
                        <p th:text="${book.descriptionParagraph2}"></p>
                        <p th:text="${book.descriptionParagraph3}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buyMethodSection">
            <div>
                <span class="statusSpan">in store</span>
            </div>
            <div>
                <span th:text="${book.price}" class="priceSpan">40 dollars</span><span class="priceSpan"> dollars</span>
            </div>
            <div style="text-align: center;margin-top: 15px;">
                <form th:type="form" th:method="post" th:action="@{/home/book/{id}/addToCart(id=${book.id})}">
                    <button class="buyButton">Add to cart</button>
                </form>
            </div>
            <div>
                <h4>Delivery methods</h4>
                <ul>
                    <li>
                        <p>Nova Post</p>
                    </li>
                    <li>
                        <p>DHL</p>
                    </li>
                    <li>
                        <p>justin</p>
                    </li>
                </ul>

            </div>
            <div>
                <h4>Payment methods</h4>
                <p>To a bank card</p>
                <p>In cash upon receipt</p>
                <p>Upon receipt by post</p>
            </div>
        </div>
    </div>

    <div class="bottomSection" >
        <button id="prevReviewBtn" style="width: 70px">Previous</button>
        <div class="userReviewBlock" style="height: 300px;">
            <div class="ReviewGrid">

                <div class="Review"  th:each="review : ${booksReview}">
                    <div class="headerContainer">
                        <span class="userName">name</span>
                        <span class="ReviewRating"> * * * * *</span>
                    </div><hr style="width: 95%;">
                    <div class="textContainer">
                        <span class="ReviewText">good</span>
                        <a><span class="linkToBook">J2EE</span></a>
                    </div>
                </div>

            </div>
        </div>
        <button id="nextReviewBtn" style="width: 70px">Next</button>
    </div>

    <div class="bottomSection">
        <button id="prevBooksBtn" style="width: 70px">Previous</button>
        <div class="semilunarBookBlock">
            <div class="semilunarBookSlider">
                <div class="semilunarbook" th:each="similarBook : ${similarBooks}">
                    <p class="bookTitle" th:text="${similarBook.title}">J2EE Development without EJB</p>
                    <p class="bookPublisher" th:text="${similarBook.publisher.publisherName}">wbox</p>

                    <div class="photoContainer">
                        <img th:src="@{${similarBook.photoURL}}" class="bookPhoto">
                    </div>


                    <div class="priceInfo">
                        <span th:text="${similarBook.price}">10</span>
                        <span>usd</span>
                    </div>
                    <div style="text-align: center;">
                        <button class="bookButton">add to cart</button>
                        <a th:href="@{/home/book/{id}(id=${book.id})}">
                            <button class="bookButton">view book</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <button id="nextBooksBtn" style="width: 70px">Next</button>
    </div>
</div>
<div th:insert="~{layout :: footerFragment}"></div>
<script th:src="@{/script/Book.js}"></script>
<script src="/static/script/Book.js"></script>
</body>
</html>