<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

</header>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <!--<button id="searchBookButton" onclick="searchBook()">search</button>-->
        <li><a th:href="@{/searchBook}">Search Book</a></li>
        <li><a th:href="@{/categories}">All Categories</a></li>
        <li><a th:href="@{/shoppingCart}">shopping cart</a></li>
        <li class="dropdown">
            <a href="#">Account</a>
            <ul class="dropdown-content">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
                <li sec:authorize="isAuthenticated()" ><a th:href="@{/personalAccount}">Personal Account</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>








</body>
</html>