<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <header>
    
    </header>
    <nav>
            <ul>
                <li>Home</li>
                <!--<button id="searchBookButton" onclick="searchBook()">search</button>-->
                <li>Find Book</li>
                <li>All Categories</li>
                <li>shopping cart</li>
                <li class="dropdown">
                  Account
                  <ul class="dropdown-content">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Personal Account</a></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
            </ul>
    </nav>
</body>
</html>