<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/AdminPanel.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
    <title>Personal Account</title>
</head>

<body class="blur-filter" onload="start()">

<div th:insert="~{layout :: headerFragment}"></div>
<div th:insert="~{layout :: navFragment}"></div>

<div th:if="${param.success}" class="alert alert-success">
    You are registered successfully!
</div>

<section class="AdminInfoSection">
    <h1 style="padding-left: 20px;">Shop Statistics</h1>

    <div class="grid-container">
        <div class="ShopStatistics">
            <label id="avaibleBook">avaible book : 651</label>
            <label id="usersOnService">registered users : 20</label>
            <label id="publisherOnService">number of publishers : 23</label>
        </div>
        <div class="admin-buttons">
            <h3>Admin Menu</h3>
            <div>
                <a th:href="@{/personalAccount/createBook}"><button>manage Book</button></a>
                <a th:href="@{/manageUser.html}"><button >manage User</button></a>
            </div>
        </div>
    </div>
</section>
<section class="UserInfoSection">
    <h1 style="padding-left: 20px;">User Info</h1>
    <table class="UserInfoTable">
        <tr>
            <td>un</td>
            <td>fn</td>
            <td>ln</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>mail</td>
            <td>address</td>
        </tr>
        <tr>
            <td>role</td>
            <td></td>
            <td></td>
        </tr>
    </table>


</section>
<h2 style="padding-left: 20px;">Purchase history</h2>
<section class="userBooks">
    <div id="booksGrid">
        <div class="book" th:each="book : ${books}">
            <h2 class="bookTitle" th:text="${book.title}">Java in action</h2>
            <h4 class="bookPublisher" th:text="${book.publisher.publisherName}">wbox</h4>

            <div class="photoContainer">
                <img src="../static/SourceImg/71qoANDJu+L._AC_UF1000,1000_QL80_.jpg" class="bookPhoto">
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{script/AdminPanel.js}"></script>
</body>
</html>