<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/searchBook.css}" rel="stylesheet" type="text/css">
    <link  rel="stylesheet" href="../static/css/SearchBook.css">
    <title>result of search</title>
</head>
<body>
    <header>
    
    </header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <!--<button id="searchBookButton" onclick="searchBook()">search</button>-->
            <li><a th:href="@{/searchBook}">Search Book</a></li>
            <li><a th:href="@{/categories}">All Categories</a></li>
            <li><a th:href="@{/shoppingCart}">shopping cart</a></li>
            <li class="dropdown">
                <a href="#">Account</a>
                <ul class="dropdown-content">
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
                    <li sec:authorize="isAuthenticated()" ><a th:href="@{/personalAccount}">Personal Account</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <section id="books">
        <div id="booksGrid">
            <div class="book" th:each="book : ${books}">
                <h2 class="bookTitle" th:text="${book.title}">Java in action</h2>
                <h4 class="bookPublisher" th:text="${book.publisher.publisherName}">wbox</h4>
                
                <div class="photoContainer">
                    <img th:src="@{${book.photoURL}}" class="bookPhoto">
                </div>
                
    
                <div class="priceInfo">
                    <span th:text="${book.price}">10</span>
                    <span>usd</span>
                </div>
                <div style="text-align: center;">
                    <button class="bookButton">add to cart</button>
                    <button class="bookButton">view book</button>
                </div>
            </div>
        </div>
    </section>

    </div>
    <footer>
        <Table>
            <tr>
                <th>Contacts</th>
                <th>We on social networks</th>
                <th>newsletter</th>
            </tr>
            <tr>
                <td>
                    <p>+48 883 467 278</p>
                    <p>ivan.denysiuk@gmail.com</p>
                </td>
                <td>
                    <ol>
                        <li>Instagram</li>
                        <li>FaceBook</li>
                        <li>Twitter</li>
                        <li>YouTube</li>
                        <li>Linkedin</li>
                    </ol>
                </td>
                <td>
                    <input type="email" placeholder="write here your email"><button>Subscribe</button>
                </td>
              </tr>
        </Table>
        <label>© 2024 Ivan Denysiuk. All rights reserved by the copyright holder.</label>
    </footer>
    
    <!--<script th:src="@{/Script/Book.js}"></script>-->
</body>
</html>