<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ShoppingCart.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/ShoppingCart.css">
    <link rel="stylesheet" href="/static/css/Layout.css">
    <title>Shopping cart</title>
</head>
<body>

    <div th:insert="~{layout :: headerFragment}"></div>
    <div th:insert="~{layout :: navFragment}"></div>

    
    <div class="booksOnCart">
        <form th:action="@{/updateCart}" method="post">
            <div class="booksOnCartGrid">
                <div class="noBooksPhoto" th:if="${shoppingCartBooks == null || shoppingCartBooks.size()==0}">
                    <img>
                </div>

                <div class="BookOnCart" th:each="entry : ${shoppingCartBooks}">
                    <a th:href="@{/home/book/{id}(id=${entry.getKey().getId()})}">
                        <div class="bookPhotoBlock">
                            <img th:src="${entry.getKey().getPhotoURL()}">
                        </div>
                    </a>

                    <div class="bookInfoBlock">
                        <p th:text="${entry.getKey().getTitle()}">title</p>
                        <p th:each="authors : ${entry.getKey().getAuthors()}" th:text="${authors.firstName} + ' ' + ${authors.lastName}">author</p>
                    </div>
                    <div class="bookManagementBlock">
                        <input th:name="'quantity_' + ${entry.key.id}" th:value="${entry.value}" min="1" type="number" readonly>
                        <a th:href="@{/home/shoppingCart/deleteBook(bookId=${entry.key.id})}"><button>delete</button></a>
                    </div>
                </div>

            </div>
            <div class="buyButtonSection">
                <a><button class="button-default" type="submit">buy</button></a>
            </div>
        </form>
    </div>
</body>
</html>